body{
background-color: blueviolet;
color: burlywood;
}

main{
background-color: antiquewhite;
color: coral;
width: 70%;
margin: 0 auto;
}

h1 { 
    background-color: coral;
    color: antiquewhite;
}
